body {
  font-family: helvetica, verdana;
  font-size: 12px;
}

article, aside, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

#chat {
  width: 400px; height: 300px; overflow-y: scroll; overflow-x: auto;
}

#nome, #text {
   width: 300px;
}