body {
  font-family: helvetica, verdana;
  font-size: 12px;
  margin: auto;
  width: 1024px;
  background-color: #cccccc;
}

article, figcaption, figure, footer, header, hgroup, nav {
  display: block;
}

section, aside {
  display: inline-block;
  vertical-align: top;
  border: 1px solid black;
  heigth: 400px;
}

header, footer {
  background: #000000;
  color: #ffffff;
}

header h1 {
  text-shadow: #777777 8px 4px 8px;
  background: #ffffff;
  color: #000000;
}

aside {
  width: 100px;
}

#chat {
  width: 400px;
  height: 300px;
  overflow-y: scroll;
  overflow-x: auto;
}

#nome, #texto {
   width: 200px;
}

.linhaChat, .linhaChatCitado, .linhaSala, .linhaUsuario {
  display: block;
}

.linhaChatCitado {
  background-color: yellow;
}

.linhaUsuario, .linhaSala {
  cursor: pointer
}

nav {
  vertical-align: middle;
}

ul {
  list-style-type: none;
  margin: auto;
  display: block;
  vertical-align: middle;
  height: 30px;
}

ul a {
  color: #aaaaaa;
  padding-right: 32px;
  padding-left: 32px;
  text-decoration: none;
}

ul a:hover {
  color: #ffffff;
}

li {
  float: left;
  vertical-align: middle;
  padding-top: 7px;
}